<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>
  <% blog = @blog %>
  <nav class="breadcrumb">
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
  
    <span class="pull-right">
      <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
    </span>

  </nav>

  <p>
    <%= markdown @blog.body %> 
  </p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>


