
<div class="col-md-2 offset-md-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h6>About Blogs</h6>
    <p class="blog-sidebar">
      These Blogs contain insights I have had throughout my Professional Career
    </p>
  </div>
  
  <div class="sidebar-link">
    <h3>Elsewhere</h3>
    <ol class="list-unstyled social-links">
      <li>
        <a href="#"><%=fa_icon "github"%></a>
        <a href="#"><%=fa_icon "instagram"%></a>
        <a href="#"><%=fa_icon "meetup"%></a>
      </li> 
      <li>
        <a href="#"><%=fa_icon "facebook-official"%></a>&nbsp
        <a href="#"><%=fa_icon "linkedin-square"%></a>&nbsp
        <a href="#"><%=fa_icon "twitter"%></a>
      </li>
    </ol>
  </div>
</div>