<div class="col-md-2 offset-md-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h6>About Blogs</h6>
    <p class="blog-sidebar">
      These Blogs contain insights I have had throughout my Professional Career
    </p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>


    <% end %>
  </div>
  
  <div class="sidebar-link">
    <h3>Elsewhere</h3>
    <ol class="list-unstyled social-links">
      <li>
        <a href="https://www.facebook.com/aaron.anderson.98229" target="_blank">
          <%=fa_icon "facebook-official"%>          
        </a>
        <a href="https://www.instagram.com/aaron_r_anderson/" target="_blank">
          <%=fa_icon "instagram"%> 
        </a>
        <a href="https://www.linkedin.com/in/aaron-anderson-13560213a/" target="_blank">
          <%=fa_icon "linkedin-square"%> 
        </a>
      </li> 
      <li>
        <a href="https://github.com/AaronRAnderson" target="_blank">
          <%=fa_icon "github"%> 
        </a>
        <a href="https://www.meetup.com/members/226391736/" target="_blank">
          <%=fa_icon "meetup"%> 
        </a>
      </li>
      <li>
        <a href="https://twitter.com/AaronR_Anderson" target="_blank">
          <%=fa_icon "twitter"%> 
        </a>
      </li>
    </ol>
  </div>
</div>